body {
    font-size: 14px;
    font-family: Verdana;
    background: #0d192a;
    color: #FFF;
    padding: 10px;
}

#chess-board {
    margin: 15px 0;
}

.first-str, .second-str {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.first-str div, .second-str div {
    width: 50px;
    height: 50px;
}

.second-str div:nth-child(2n), .first-str div:nth-child(2n+1) {
    background: #000;
}

.first-str div:nth-child(2n), .second-str div:nth-child(2n+1) {
    background: #FFF;
}

input[type=text], input[type=number], textarea {
    border-radius: 5px;
    color: #FFF;
    background: #112940;
    border: #ff756f solid 1px;
    margin: 0 5px 0 0;
    padding: 7px 10px;
}

input[type=number] {
    width: 50px;
}

input[type=text] {
    width: 185px;
}

input::-webkit-input-placeholder {
    color: #cbbd9a;
    font-style: italic;
}

input::-moz-placeholder {
    color: #cbbd9a;
    font-style: italic;
}

input:-ms-input-placeholder {
    color: #cbbd9a;
    font-style: italic;
}

.result {
    margin: 20px 0;
}

h2 {
    color: #ff1763;
}

div[class*="task"] {
    margin-bottom: 70px;
}

textarea {
    width: 400px;
    height: 150px;
}

ul {
    list-style: square;
}

li {
    margin: 5px 0;
}

a {
    text-decoration: none;
    color: #ff8106;
}
